{% extends "catalogo/base.html" %}

{% block title %}Ajustar Stock{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="mb-4">Ajuste de Stock</h2>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary w-100">
                        Guardar Ajuste
                    </button>
                </form>

                <a href="{% url 'lista_libros' %}" class="btn btn-link mt-3 w-100">
                    ⬅ Volver
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
